.wrap {
	margin: 0 !important;
	width: 94% !important;
	margin-left: 3% !important;
}

.hd {
	width: 98% !important;
}

.foot_text {
	display: none !important;
}

.suggesbox {
	display: none !important;
}

.w2 .a_play {
	display: none !important;
}

.w4 {
	width: 141px !important;
}

.w2 {
	width: 75% !important;
}

.w1 {
	width: 4% !important;
}


