@charset "utf-8";
/*	Name: Custom Font
	Copyright 2011 Opera Software 
    * 
    * h1,h2,h3,h4,h5,h6 {font-family:"汉仪细行楷简","Vera Sans YuanTi",Verdana!important;font-weight:bold;}
    * 

    
h1,h2,h3,h4,h5,h6 {
    font-family:"汉仪细行楷简","Verdana";
    }
body,div,tr,td,p,a,ul,span,input,textarea */ 
body {
    font-family:"Oxygen","YaHei Consolas Hybrid" ;
    }
